body {
    background-color: black;
    color: lime;
    font-family: monospace;
    padding: 20px;
}

#terminal {
    white-space: pre-line;
    font-size: 18px;
}

input {
    background: black;
    color: lime;
    border: none;
    font-size: 18px;
    width: 100%;
}